*{
    font-family: poppins;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    display: flex;
    gap: 20px;
}
.nav a {
    color: black;
    text-decoration: none;
}
.nav :hover{
  text-transform: lowercase;
  text-decoration-line: underline;
  transition: 0.5s;
}
.nav i{
    font-size: 10px;
}
.nav-icons a{
    color: black;
}